{"openapi":"3.0.0","info":{"title":"Newcastle University | Digitised Objects Repository | Search and Data API","version":"1.27.0","description":"The *Search and Data API* provides a single point of truth interface for searching, browsing and displaying digitised objects held in Newcastle University Library's Special Collections.\n\nData curators: [Special Collections and Archives](https://www.ncl.ac.uk/library/special-collections/)\\\nAdministrators: [Digital Library Services](https://go.ncl.ac.uk/dls)\n"},"servers":[{"url":"https://api-dor.ncl.ac.uk"}],"tags":[{"name":"API Metadata Information","description":"A set of endpoints for gathering information about the API itself. They can be used for validation, creating types or checking if the service is live."},{"name":"V1","description":"A set of endpoints created as as part of the version one of the application."},{"name":"Collections","description":"A set of endpoints describing the collections present in the repository."},{"name":"Digitised Objects","description":"A set of endpoints describing the digitised objects present in the repository."},{"name":"Items","description":"A set of endpoints describing the integrants of the given digitised object present in the repository."},{"name":"CONTENTdm","description":"A set of endpoints used for describing digitised objects stored in the repository, as well as all the complementary resources created based on them."},{"name":"IIIF","description":"A set of endpoints signposting to [International Image Interoperability Framework](https://iiif.io/) services responsible for handling the presentation of the digitised objects."},{"name":"TEI","description":"A set of endpoints providing metadata and content definitions of documents encoded using [Text Encoding Initiative](https://tei-c.org/) guidance."},{"name":"Index","description":"A set of endpoints returning an index of all the resources present in the repository."},{"name":"Search","description":"A set of endpoints returning endpoints for searching resources present in the repository."},{"name":"Autocomplete","description":"A set of endpoints returning endpoints for autocompleting search queries."},{"name":"Transcript","description":"A set of endpoints returning transcript of the resources present in the repository."}],"paths":{"/":{"get":{"operationId":"getHome","summary":"The API's home page","description":"Returns an OpenAPI interactive documentation for devices requesting HTML, or starting HATEAOS links for JSON requests.","tags":["API Metadata Information"],"responses":{"200":{"description":"The API's starting point.","content":{"text/html":{"schema":{"type":"string","description":"An OpenAPI interactive documentation"}},"application/json":{"schema":{"type":"object","properties":{"_links":{"type":"object","properties":{"info":{"$ref":"#/components/schemas/HateoasLink"},"collections":{"$ref":"#/components/schemas/HateoasLink"},"digitisedObjects":{"$ref":"#/components/schemas/HateoasLink"},"items":{"$ref":"#/components/schemas/HateoasLink"}},"required":["specification"]}},"required":["_links"]}}}},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/info":{"get":{"operationId":"getInfo","summary":"The API's information","description":"Returns a basic set of information describing the state of the API and its current version.","tags":["API Metadata Information"],"responses":{"200":{"description":"The metadata object describing the basic information about the API.","content":{"application/json":{"schema":{"type":"object","properties":{"version":{"$ref":"#/components/schemas/Version"},"build":{"$ref":"#/components/schemas/Version"},"baseUrl":{"type":"string","example":"https://api.dor.ncl.ac.uk"},"_links":{"type":"object","allOf":[{"$ref":"#/components/schemas/HomeLinks"},{"type":"object","properties":{"specification":{"$ref":"#/components/schemas/HateoasLink"}},"required":["specification"]}]}},"required":["version","build","baseUrl","_links"]}}}},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/info/open-api":{"get":{"operationId":"getInfoOpenAPI","summary":"The OpenAPI specification","description":"Presents the current OpenAPI document specification that the API service pledge to implement.","tags":["API Metadata Information"],"responses":{"200":{"description":"A JSON object representing the API's OpenAPI schema.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"example":"{ \"openapi\": \"3.0.0 (...)\" }"}}}},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/iiif/{id}":{"get":{"operationId":"getIIIF","summary":"IIIF permalink","description":"Signpost to to a service responsible for IIIF manifests generation for the given digitised object.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"example":"UkLWZg9D","required":true,"description":"Digitised object's identifier."}],"tags":["Digitised Objects","IIIF"],"responses":{"302":{"description":"Redirects to a IIIF manifest.","headers":{"Location":{"description":"URL where the IIIF manifest will be created.","schema":{"type":"string","format":"uri"},"required":true}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"A digitised object with the specified ID was not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/collections":{"get":{"operationId":"getV1CollectionsIndex","summary":"List of collections","description":"Returns summary of collections present in the system.","tags":["V1","Collections","Index"],"parameters":[{"in":"query","name":"page","schema":{"type":"number"},"description":"The pagination index, starting from 1 for the first page."},{"in":"query","name":"page.size","schema":{"type":"number"},"description":"The number of collections matching returned per page, between 1 and 100."},{"in":"query","name":"page.start","schema":{"type":"number"},"description":"The pagination starting offset starting from 0."}],"responses":{"200":{"description":"The list of collections matching a query.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ngQRYFju"},"title":{"type":"string","example":"Newcastle University Archives","nullable":true},"_links":{"type":"object","properties":{"definition":{"$ref":"#/components/schemas/HateoasLink"}},"required":["definition"]}},"required":["id","title","_links"]},"nullable":true},"pagination":{"$ref":"#/components/schemas/Pagination"},"_links":{"allOf":[{"$ref":"#/components/schemas/HomeLinks"}]}},"required":["items","pagination","_links"]}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/collections/{id}":{"get":{"operationId":"getV1CollectionsShow","summary":"Collection definition","description":"Returns all the metadata and signposts to the related resources for the given collection.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"example":"ngQRYFju","required":true,"description":"Collection's identifier."}],"tags":["V1","Collections"],"responses":{"200":{"description":"The complete definition of the identified collection.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"ngQRYFju"},"title":{"type":"string","example":"Newcastle University Archives","nullable":true},"digitisedObjects":{"type":"object","properties":{"totalElements":{"type":"number"},"_links":{"type":"object","properties":{"search":{"$ref":"#/components/schemas/HateoasLink"}},"required":["search"]}},"required":["totalElements","_links"]},"items":{"type":"object","properties":{"totalElements":{"type":"number"},"_links":{"type":"object","properties":{"search":{"$ref":"#/components/schemas/HateoasLink"}},"required":["search"]}},"required":["totalElements","_links"]},"_links":{"type":"object","properties":{"index":{"$ref":"#/components/schemas/HateoasLink"}},"required":["index"]}},"required":["id","title","digitisedObjects","items","_links"]}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"A collection with the specified ID was not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/digitised-objects":{"get":{"operationId":"getV1DigitisedObjectsIndex","summary":"List of digitised objects","description":"Returns summary of digitised objects present in the system.","tags":["V1","Digitised Objects","Index"],"parameters":[{"in":"query","name":"page","schema":{"type":"number"},"description":"The pagination index, starting from 1 for the first page."},{"in":"query","name":"page.size","schema":{"type":"number"},"description":"The number of digitised objects matching returned per page, between 1 and 100."},{"in":"query","name":"page.start","schema":{"type":"number"},"description":"The pagination starting offset starting from 0."}],"responses":{"200":{"description":"The list of digitised objects matching a query.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"UkLWZg9D"},"refCode":{"type":"string","example":"NUA/005671/01","nullable":true},"title":{"type":"string","example":"Aerial view of King's College","nullable":true},"description":{"type":"string","nullable":true},"_links":{"type":"object","properties":{"definition":{"$ref":"#/components/schemas/HateoasLink"}},"required":["definition"]}},"required":["id","refCode","title","description","_links"],"nullable":true}},"pagination":{"$ref":"#/components/schemas/Pagination"},"_links":{"allOf":[{"$ref":"#/components/schemas/HomeLinks"},{"type":"object","properties":{"search":{"$ref":"#/components/schemas/HateoasLink"}},"required":["search"]}]}},"required":["items","pagination","_links"]}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/digitised-objects/search":{"get":{"operationId":"getV1DigitisedObjectsSearch","summary":"Search digitised objects","description":"Performs a keyword search with filters on the digitised objects present in the system.","tags":["V1","Digitised Objects","Search"],"parameters":[{"$ref":"#/components/parameters/SearchPage"},{"$ref":"#/components/parameters/SearchPageSize"},{"$ref":"#/components/parameters/SearchPageStart"},{"$ref":"#/components/parameters/SearchQ"},{"$ref":"#/components/parameters/SearchQAdvanced"},{"$ref":"#/components/parameters/SearchSort"},{"$ref":"#/components/parameters/SearchFilterCollection"},{"$ref":"#/components/parameters/SearchFilterCollectionId"},{"$ref":"#/components/parameters/SearchFilterSubject"},{"$ref":"#/components/parameters/SearchFilterThematicCategory"},{"$ref":"#/components/parameters/SearchFilterDateFrom"},{"$ref":"#/components/parameters/SearchFilterDateTo"},{"$ref":"#/components/parameters/SearchFilterHasTEI"},{"$ref":"#/components/parameters/SearchFilterHasTranscript"},{"$ref":"#/components/parameters/SearchFilterScope"}],"responses":{"200":{"description":"The list of items matching the given search query.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"UkLWZg9D"},"refCode":{"type":"string","example":"NUA/028944/02","nullable":true},"title":{"type":"string","example":"Aerial view of main University campus and Newcastle city centre","nullable":true},"description":{"type":"string","example":"Aerial view of university campus from the west including the Armstrong Building, Bedson Building, King George VI Building and Agriculture Building","nullable":true},"format":{"type":"string","example":"Photograph","nullable":true},"language":{"type":"string","nullable":true},"creators":{"type":"array","items":{"type":"string"},"nullable":true},"subjects":{"type":"array","items":{"type":"string"},"nullable":true},"dates":{"type":"array","items":{"type":"string"},"nullable":true},"places":{"type":"array","items":{"type":"string"},"nullable":true},"canvas":{"type":"string"},"highlights":{"type":"object","description":"The list of all matches for the given query per searched field.","properties":{"title":{"type":"array","items":{"type":"string"}},"description":{"type":"array","items":{"type":"string"}},"content":{"type":"array","items":{"type":"string"}}},"required":["title","description","content"]},"_links":{"type":"object","properties":{"definition":{"$ref":"#/components/schemas/HateoasLink"}},"required":["definition"]}},"required":["id","refCode","title","description","format","language","creators","subjects","dates","places","canvas","highlights","_links"]},"nullable":true},"pagination":{"$ref":"#/components/schemas/Pagination"},"sort":{"$ref":"#/components/schemas/Sort"},"query":{"$ref":"#/components/schemas/CancellableQuery"},"filters":{"$ref":"#/components/schemas/Filters"},"_links":{"allOf":[{"$ref":"#/components/schemas/HomeLinks"},{"type":"object","properties":{"index":{"$ref":"#/components/schemas/HateoasLink"},"home":{"$ref":"#/components/schemas/HateoasLink"}},"required":["index","home"]}]}},"required":["items","pagination","sort","query","filters","_links"]}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"Digitised objects matching the given criteria were not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/digitised-objects/search/autocomplete":{"get":{"operationId":"getV1DigitisedObjectsSearchAutocomplete","summary":"Search digitised objects autocompletion","description":"Provides search box autocompletion for the given phrase.","tags":["V1","Digitised Objects","Search","Autocomplete"],"parameters":[{"$ref":"#/components/parameters/AutocompleteQ"},{"$ref":"#/components/parameters/AutocompletePageSize"},{"$ref":"#/components/parameters/SearchFilterScope"}],"responses":{"200":{"description":"The list of terms/phrases matching the given query.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutocompleteResponse"}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"No suggestions were available for the given query."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/digitised-objects/{id}":{"get":{"operationId":"getV1DigitisedObjectsShow","summary":"Digitised object definition","description":"Returns all the metadata and signposts to the related resources for the given digitised object.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"example":"UkLWZg9D","required":true,"description":"Digitised object's identifier."}],"tags":["V1","Digitised Objects"],"responses":{"200":{"description":"The complete definition of the identified digitised object.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"UkLWZg9D"},"refCode":{"type":"string","example":"NUA/005671/01","nullable":true},"title":{"type":"string","example":"Aerial view of King's College","nullable":true},"description":{"type":"string","nullable":true},"format":{"type":"string","example":"Photograph","nullable":true},"language":{"type":"string","nullable":true},"creators":{"type":"array","items":{"type":"string"},"nullable":true},"subjects":{"type":"array","items":{"type":"string"},"nullable":true},"dates":{"type":"array","items":{"type":"string"},"nullable":true},"places":{"type":"array","items":{"type":"string"},"nullable":true},"publishers":{"type":"array","items":{"type":"string"},"nullable":true},"provenances":{"type":"array","items":{"type":"string"},"nullable":true},"contributors":{"type":"array","items":{"type":"string"},"nullable":true},"copyright":{"type":"string","nullable":true},"license":{"type":"string","nullable":true},"manifest":{"type":"string"},"collection":{"type":"object","properties":{"id":{"type":"string","example":"ngQRYFju"},"title":{"type":"string","example":"Newcastle University Archives","nullable":true},"_links":{"type":"object","properties":{"definition":{"$ref":"#/components/schemas/HateoasLink"}},"required":["definition"]}},"required":["id","title","_links"]},"items":{"type":"object","properties":{"totalElements":{"type":"number"},"_links":{"type":"object","properties":{"search":{"$ref":"#/components/schemas/HateoasLink"}},"required":["search"]}},"required":["totalElements","_links"]},"transcript":{"type":"object","properties":{"_links":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/HateoasLink"}},"required":["content"]}},"required":["_links"],"nullable":true},"teis":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"UkLWZg9D"},"type":{"type":"string","enum":["primary"],"nullable":true},"_links":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/HateoasLink"}},"required":["content"]}},"required":["id","type","_links"]},"nullable":true},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time","nullable":true},"_links":{"type":"object","properties":{"index":{"$ref":"#/components/schemas/HateoasLink"},"search":{"$ref":"#/components/schemas/HateoasLink"}},"required":["index","search"]}},"required":["id","refCode","title","description","format","language","creators","subjects","dates","places","publishers","provenances","contributors","copyright","license","manifest","collection","items","transcript","teis","createdAt","updatedAt","_links"]}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"A digitised object with the specified ID was not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/digitised-objects/{id}/transcript/content":{"get":{"operationId":"getV1DigitisedObjectsTranscriptContent","summary":"Digitised object's transcript","description":"Returns a transcript of the given digitised object.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"example":"UkLWZg9D","required":true,"description":"Digitised object's identifier."}],"tags":["V1","Digitised Objects","Transcript"],"responses":{"200":{"description":"The transcript of the digitised object in a plain text form.","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"A digitised object with the specified ID or its transcript was not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/items":{"get":{"operationId":"getV1ItemsIndex","summary":"List of items","description":"Returns summary of items present in the system.","tags":["V1","Items","Index"],"parameters":[{"in":"query","name":"page","schema":{"type":"number"},"description":"The pagination index, starting from 1 for the first page."},{"in":"query","name":"page.size","schema":{"type":"number"},"description":"The number of items matching returned per page, between 1 and 100."},{"in":"query","name":"page.start","schema":{"type":"number"},"description":"The pagination starting offset starting from 0."}],"responses":{"200":{"description":"The list of items matching a query.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"UkLWZg9D"},"title":{"type":"string","example":"Page 1","nullable":true},"description":{"type":"string","example":"First page of Chapter 1.","nullable":true},"_links":{"type":"object","properties":{"definition":{"$ref":"#/components/schemas/HateoasLink"}},"required":["definition"]}},"required":["id","title","description","digitisedObject","_links"],"nullable":true}},"pagination":{"$ref":"#/components/schemas/Pagination"},"_links":{"allOf":[{"$ref":"#/components/schemas/HomeLinks"},{"type":"object","properties":{"search":{"$ref":"#/components/schemas/HateoasLink"}},"required":["search"]}]}},"required":["items","pagination","_links"]}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/items/search":{"get":{"operationId":"getV1ItemsSearch","summary":"Search items","description":"Performs a keyword search with filters on the items present in the system.","tags":["V1","Items","Search"],"parameters":[{"$ref":"#/components/parameters/SearchPage"},{"$ref":"#/components/parameters/SearchPageSize"},{"$ref":"#/components/parameters/SearchPageStart"},{"$ref":"#/components/parameters/SearchQ"},{"$ref":"#/components/parameters/SearchQAdvanced"},{"$ref":"#/components/parameters/SearchSort"},{"$ref":"#/components/parameters/SearchFilterCollection"},{"$ref":"#/components/parameters/SearchFilterCollectionId"},{"$ref":"#/components/parameters/SearchFilterDigitisedObject"},{"$ref":"#/components/parameters/SearchFilterDigitisedObjectId"},{"$ref":"#/components/parameters/SearchFilterSubject"},{"$ref":"#/components/parameters/SearchFilterThematicCategory"},{"$ref":"#/components/parameters/SearchFilterDateFrom"},{"$ref":"#/components/parameters/SearchFilterDateTo"},{"$ref":"#/components/parameters/SearchFilterHasTEI"},{"$ref":"#/components/parameters/SearchFilterHasTranscript"},{"$ref":"#/components/parameters/SearchFilterScope"}],"responses":{"200":{"description":"The list of items matching the given search query.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"UkLWZg9D/3"},"position":{"type":"number","example":3},"refCode":{"type":"string","example":"Alderson Collection PAR PET","nullable":true},"title":{"type":"string","example":"Page 1","nullable":true},"description":{"type":"string","example":"First page of Chapter 1.","nullable":true},"format":{"type":"string","example":"Illustration","nullable":true},"language":{"type":"string","nullable":true},"creators":{"type":"array","items":{"type":"string"},"nullable":true},"subjects":{"type":"array","items":{"type":"string"},"nullable":true},"dates":{"type":"array","items":{"type":"string"},"nullable":true},"places":{"type":"array","items":{"type":"string"},"nullable":true},"canvas":{"type":"string"},"digitisedObject":{"type":"object","properties":{"id":{"type":"string","example":"UkLWZg9D"},"title":{"type":"string","example":"Peter Parley's Visit to London During the Coronation of Queen Victoria","nullable":true},"manifest":{"type":"string"},"_links":{"type":"object","properties":{"definition":{"$ref":"#/components/schemas/HateoasLink"}},"required":["definition"]}},"required":["id","title","manifest","_links"]},"highlights":{"type":"object","description":"The list of all matches for the given query per searched field.","properties":{"title":{"type":"array","items":{"type":"string"}},"description":{"type":"array","items":{"type":"string"}},"content":{"type":"array","items":{"type":"string"}}},"required":["title","description","content"]},"_links":{"type":"object","properties":{"definition":{"$ref":"#/components/schemas/HateoasLink"}},"required":["definition"]}},"required":["id","refCode","title","description","format","language","creators","subjects","dates","places","canvas","digitisedObject","highlights","_links"]},"nullable":true},"pagination":{"$ref":"#/components/schemas/Pagination"},"sort":{"$ref":"#/components/schemas/Sort"},"query":{"$ref":"#/components/schemas/CancellableQuery"},"filters":{"$ref":"#/components/schemas/Filters"},"_links":{"allOf":[{"$ref":"#/components/schemas/HomeLinks"},{"type":"object","properties":{"index":{"$ref":"#/components/schemas/HateoasLink"},"home":{"$ref":"#/components/schemas/HateoasLink"}},"required":["index","home"]}]}},"required":["items","pagination","sort","query","filters","_links"]}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"Items matching the given criteria were not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/items/search/autocomplete":{"get":{"operationId":"getV1ItemsSearchAutocomplete","summary":"Search items autocompletion","description":"Provides search box autocompletion for the given phrase.","tags":["V1","Items","Search","Autocomplete"],"parameters":[{"$ref":"#/components/parameters/AutocompleteQ"},{"$ref":"#/components/parameters/AutocompletePageSize"},{"$ref":"#/components/parameters/SearchFilterScope"}],"responses":{"200":{"description":"The list of terms/phrases matching the given query.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutocompleteResponse"}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"No suggestions were available for the given query."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/items/{id}/{position}":{"get":{"operationId":"getV1ItemsShow","summary":"Item definition","description":"Returns all the metadata and signposts to the related resources for the given item.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"example":"UkLWZg9D","required":true,"description":"Parent's digitised object identifier."},{"in":"path","name":"position","schema":{"type":"number"},"example":3,"required":true,"description":"Item's position within the digitised object's structure."}],"tags":["V1","Items"],"responses":{"200":{"description":"The complete definition of the identified item.","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"UkLWZg9D/3"},"position":{"type":"number","example":3},"refCode":{"type":"string","example":"Alderson Collection PAR PET","nullable":true},"title":{"type":"string","example":"Page 1","nullable":true},"description":{"type":"string","example":"First page of Chapter 1.","nullable":true},"format":{"type":"string","example":"Illustration","nullable":true},"language":{"type":"string","nullable":true},"creators":{"type":"array","items":{"type":"string"},"nullable":true},"subjects":{"type":"array","items":{"type":"string"},"nullable":true},"dates":{"type":"array","items":{"type":"string"},"nullable":true},"places":{"type":"array","items":{"type":"string"},"nullable":true},"publishers":{"type":"array","items":{"type":"string"},"nullable":true},"provenances":{"type":"array","items":{"type":"string"},"nullable":true},"contributors":{"type":"array","items":{"type":"string"},"nullable":true},"copyright":{"type":"string","nullable":true},"license":{"type":"string","nullable":true},"canvas":{"type":"string"},"digitisedObject":{"type":"object","properties":{"id":{"type":"string","example":"UkLWZg9D"},"title":{"type":"string","example":"Peter Parley's Visit to London During the Coronation of Queen Victoria","nullable":true},"description":{"type":"string","example":"Colour illustrations depicting coronation of Queen Victoria","nullable":true},"manifest":{"type":"string"},"thumbnail":{"type":"string"},"_links":{"type":"object","properties":{"definition":{"$ref":"#/components/schemas/HateoasLink"}},"required":["definition"]}},"required":["id","title","description","manifest","thumbnail","_links"]},"transcript":{"type":"object","properties":{"_links":{"type":"object","properties":{"content":{"$ref":"#/components/schemas/HateoasLink"}},"required":["content"]}},"required":["_links"],"nullable":true},"_links":{"type":"object","properties":{"index":{"$ref":"#/components/schemas/HateoasLink"},"search":{"$ref":"#/components/schemas/HateoasLink"}},"required":["index","search"]}},"required":["id","refCode","title","description","format","language","creators","subjects","dates","places","publishers","provenances","contributors","copyright","license","canvas","digitisedObject","transcript","_links"]}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"A digitised object with the specified ID was not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/items/{id}/{position}/transcript/content":{"get":{"operationId":"getV1ItemsTranscriptContent","summary":"Item's transcript","description":"Returns a transcript of the given item.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"example":"UkLWZg9D","required":true,"description":"Parent's digitised object identifier."},{"in":"path","name":"position","schema":{"type":"number"},"example":3,"required":true,"description":"Item's position within the digitised object's structure."}],"tags":["V1","Items","Transcript"],"responses":{"200":{"description":"The transcript of the item in a plain text form.","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"An item with the specified ID and position or its transcript was not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/contentdm/{collectionId}/{itemId}":{"get":{"operationId":"getV1Contentdm","summary":"CONTENTdm reverse mapping","description":"Maps items from CONTENTdm realms against records present in the Digitised Objects Repository.","parameters":[{"in":"path","name":"collectionId","schema":{"type":"string"},"example":"p21051coll2","required":true,"description":"CONTETNdm collection's id (alias)"},{"in":"path","name":"itemId","schema":{"type":"string"},"example":"1922","required":true,"description":"CONTETNdm item's id (pointer)"}],"tags":["V1","CONTENTdm"],"responses":{"302":{"description":"Redirect to the digitised object's description (```/v1/digitised-objects/{id}```).","headers":{"Location":{"description":"URL where the digitised object's description lives.","schema":{"type":"string","format":"uri"},"required":true}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"A digitised object with the specified collection and object IDs was not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}},"/v1/tei/{id}/content":{"get":{"operationId":"getV1TEIContent","summary":"TEI Document Content","description":"Signpost to to a service responsible for providing the content of a TEI document with the given identifier.","parameters":[{"in":"path","name":"id","schema":{"type":"string"},"example":"UkLWZg9D","required":true,"description":"TEI document's identifier."}],"tags":["V1","TEI"],"responses":{"302":{"description":"Redirects to an XML content of the given TEI document.","content":{"application/xml":{"schema":{"type":"object","additionalProperties":true},"example":"<TEI xmlns=\"http://www.tei-c.org/ns/1.0\">\n  (...)\n</TEI>\n"}},"headers":{"Location":{"description":"URL where the TEI content can be consumed.","schema":{"type":"string","format":"uri"},"required":true}}},"400":{"description":"The server could not finalise the response due to the malformed, invalid or missing request parameters."},"404":{"description":"A TEI document with the specified ID was not found."},"5XX":{"description":"Indicates that the server encountered an unexpected exception preventing it from fulfilling the request."}}}}},"components":{"schemas":{"Version":{"type":"string","description":"A representation of a version compatible with [Semantic Versioning 2.0.0](https://semver.org/).","pattern":"/[0-9]+\\.[0-9]+\\.[0-9]+/","example":"1.0.0"},"HateoasParameters":{"type":"object","additionalProperties":true,"description":"Any relevant parameters that should be appended to the URL (for GET method) or passed as a payload for other HTTP methods.","example":{"?":"..."}},"HateoasLink":{"type":"object","properties":{"href":{"type":"string"},"type":{"type":"string","enum":["GET","POST","PUT","DELETE"]},"parameters":{"$ref":"#/components/schemas/HateoasParameters"}},"required":["href","type"]},"HomeLinks":{"type":"object","description":"Standard set of links related to the homepage.","properties":{"home":{"$ref":"#/components/schemas/HateoasLink"}},"required":["home"]},"Pagination":{"type":"object","description":"Defines the metadata for the pagination used for providing the data on the given endpoint.","properties":{"size":{"type":"number","description":"Represents how many items can be presented on one page."},"totalPages":{"type":"number","description":"Represents how many pages are in total to fetch."},"totalElements":{"type":"number","description":"Represents how many items are in total to fetch."},"number":{"type":"number","description":"Represents the current page's number."},"_links":{"type":"object","description":"Standard set of links related to pagination.","properties":{"first":{"$ref":"#/components/schemas/HateoasLink"},"previous":{"$ref":"#/components/schemas/HateoasLink"},"next":{"$ref":"#/components/schemas/HateoasLink"},"last":{"$ref":"#/components/schemas/HateoasLink"}},"required":["first","last"]}},"required":["size","totalPages","totalElements","number","_links"]},"SortOption":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"_links":{"type":"object","properties":{"activate":{"$ref":"#/components/schemas/HateoasLink"},"deactivate":{"$ref":"#/components/schemas/HateoasLink"}},"required":["activate"]}},"required":["id","name","_links"]},"Sort":{"type":"object","properties":{"options":{"type":"array","items":{"$ref":"#/components/schemas/SortOption"}},"active":{"allOf":[{"$ref":"#/components/schemas/SortOption"},{"type":"object","properties":{"_links":{"type":"object","properties":{"deactivate":{"$ref":"#/components/schemas/HateoasLink"}},"required":["deactivate"]}},"required":["_links"]}],"nullable":true},"_links":{"type":"object","description":"Standard set of links related to sorting.","properties":{"reset":{"$ref":"#/components/schemas/HateoasLink"}}}},"required":["options","active","_links"]},"Facet":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"count":{"type":"number"},"_links":{"type":"object","properties":{"activate":{"$ref":"#/components/schemas/HateoasLink"},"deactivate":{"$ref":"#/components/schemas/HateoasLink"}}}},"required":["id","name","count"]},"FilterValue":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"_links":{"type":"object","properties":{"activate":{"$ref":"#/components/schemas/HateoasLink"},"deactivate":{"$ref":"#/components/schemas/HateoasLink"}}}},"required":["id","name","_links"]},"FilterOption":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"active":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/FilterValue"},{"type":"object","properties":{"_links":{"type":"object","properties":{"deactivate":{"$ref":"#/components/schemas/HateoasLink"}},"required":["deactivate"]}},"required":["_links"]}],"$ref":"#/components/schemas/FilterValue"},"nullable":true},"facets":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Facet"}]},"nullable":true},"_links":{"type":"object","properties":{"reset":{"$ref":"#/components/schemas/HateoasLink"}}}},"required":["id","name","active","facets","_links"]},"Filters":{"type":"object","properties":{"options":{"type":"array","items":{"$ref":"#/components/schemas/FilterOption"}},"_links":{"type":"object","properties":{"reset":{"$ref":"#/components/schemas/HateoasLink"}}}},"required":["options","_links"]},"StringOrArrayOfStrings":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"ReadonlyQuery":{"type":"object","properties":{"value":{"type":"string","nullable":true}},"required":["value"]},"CancellableQuery":{"type":"object","allOf":[{"$ref":"#/components/schemas/ReadonlyQuery"},{"type":"object","properties":{"_links":{"type":"object","properties":{"deactivate":{"$ref":"#/components/schemas/HateoasLink"}}}},"required":["_links"]}]},"AutocompleteResponse":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","example":"Photograph taken by Gertrude Bell showing Delhi, India"},"highlight":{"type":"string","example":"Photograph taken by <mark>Gertrude Bell</mark> showing Delhi, India"}},"required":["title","highlight"]},"nullable":true},"query":{"$ref":"#/components/schemas/ReadonlyQuery"},"_links":{"allOf":[{"type":"object","properties":{"search":{"$ref":"#/components/schemas/HateoasLink"}},"required":["search"]}]}},"required":["items","query","_links"]}},"parameters":{"SearchPage":{"in":"query","name":"page","schema":{"type":"number"},"description":"The pagination index, starting from 1 for the first page."},"SearchPageSize":{"in":"query","name":"page.size","schema":{"type":"number"},"description":"The number of items matching returned per page, between 1 and 100."},"SearchPageStart":{"in":"query","name":"page.start","schema":{"type":"number"},"description":"The pagination starting offset starting from 0."},"SearchQ":{"in":"query","name":"q","schema":{"type":"string"},"description":"The main search phrase."},"SearchQAdvanced":{"in":"query","name":"q.advanced","schema":{"type":"string"},"description":"Query string dedicated to advanced searches, written in restricted [Elasticsearch\\'s query syntax](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax)."},"SearchSort":{"in":"query","name":"sort","schema":{"type":"string","enum":["relevance","title.asc","title.desc","date.asc","date.desc","createdAt.desc"]},"description":"Determines the sorting method."},"SearchFilterCollection":{"in":"query","name":"filter.collection","schema":{"$ref":"#/components/schemas/StringOrArrayOfStrings"},"description":"List of collection titles that the items should belong to."},"SearchFilterCollectionId":{"in":"query","name":"filter.collection.id","schema":{"$ref":"#/components/schemas/StringOrArrayOfStrings"},"description":"List of collection ids that the items should belong to."},"SearchFilterDigitisedObject":{"in":"query","name":"filter.digitisedObject","schema":{"$ref":"#/components/schemas/StringOrArrayOfStrings"},"description":"List of digitised object titles that the items should belong to."},"SearchFilterDigitisedObjectId":{"in":"query","name":"filter.digitisedObject.id","schema":{"$ref":"#/components/schemas/StringOrArrayOfStrings"},"description":"List of digitised object ids that the items should belong to."},"SearchFilterSubject":{"in":"query","name":"filter.subject","schema":{"$ref":"#/components/schemas/StringOrArrayOfStrings"},"description":"List of subject terms that the items should belong to."},"SearchFilterThematicCategory":{"in":"query","name":"filter.thematicCategory","schema":{"$ref":"#/components/schemas/StringOrArrayOfStrings"},"description":"List of thematic category terms that the items should belong to."},"SearchFilterDateFrom":{"in":"query","name":"filter.date.from","schema":{"type":"number"},"description":"The start of the date range query."},"SearchFilterDateTo":{"in":"query","name":"filter.date.to","schema":{"type":"number"},"description":"The end of the date range query."},"SearchFilterHasTEI":{"in":"query","name":"filter.hasTEI","schema":{"$ref":"#/components/schemas/StringOrArrayOfStrings"},"description":"Determines whether returned items should have a TEI file related or not."},"SearchFilterHasTranscript":{"in":"query","name":"filter.hasTranscript","schema":{"$ref":"#/components/schemas/StringOrArrayOfStrings"},"description":"Determines whether returned items should have a raw transcript file related or not."},"SearchFilterScope":{"in":"query","name":"scope","schema":{"type":"string","example":"digital.showcase"},"description":"Scopes query to return items assigned to the given system."},"AutocompleteQ":{"in":"query","name":"q","schema":{"type":"string"},"required":true,"description":"The search phrase that should be autocompleted."},"AutocompletePageSize":{"in":"query","name":"page.size","schema":{"type":"number"},"description":"The maximum number of items returned, between 1 and 25 (by default it is 10)."}}}}